

@{
    ViewBag.Title = "HomePage";
}

<div class="wrapper row3 allPadding">
    <div class="rounded">
        <main class="container clear">
            <div class="container">
                <div class="row" style="color: black;">

                    <p style="text-align:center">
                        <b>
                            महाराष्ट्र राज्य माध्यमिक व उच्च माध्यमिक शिक्षण मंडळ, पुणे - ४११००४.
                            <br /> <br />
                    <p>विषय:-सन २०२१ मधील माध्यमिक शालान्त प्रमाणपत्र परीक्षा (इ.१०वी) व उच्च माध्यमिक प्रमाणपत्र परीक्षा (इ.१२वी) साठी नोंदणीकृत विद्यार्थ्यांना परीक्षा शुल्क परतावा करण्याबाबतची कार्यपध्दती.</p>

                    </b>
                    </p>
                    <br />
                    <p>	मा. उच्च न्यायालय, मुंबई यांचकडे दाखल जनहित याचिका क्र. ३९/२०२१ या याचिकेवरील दिनांक २९/०७/२०२१ रोजीचे निर्णयानुसार मा. अध्यक्ष, राज्यमंडळ, पुणे यांनी सन २०२१ मधील माध्यमिक शालान्त प्रमाणपत्र परीक्षा (इ.१०वी) व उच्च माध्यमिक प्रमाणपत्र परीक्षा (इ.१२वी) चे परीक्षेकरिता नोंदणी केलेल्या विद्यार्थ्यांना अनुक्रमे रु ५९/- व रु ९४/- परीक्षा शुल्काची रक्कम परत करण्याबाबतचा निर्णय घेतलेला आहे.</p>
                    <p> माध्यमिक शाळेतील / कनिष्ठ महाविद्यालयातील इयत्ता १० वी व इयत्ता १२ वीच्या ज्या विद्यार्थ्यांना शासन योजना व इतर अन्य योजनांमधून परीक्षा शुल्काचा लाभ मिळत आहे त्या विद्यार्थ्यांना या परीक्षा शुल्काचा दुबार लाभ मिळणार नाही, <b>तसेच जे विद्यार्थी सन २०२१ च्या मुख्य परीक्षेला  श्रेणी सुधार योजने अंतर्गत (CIS) प्रविष्ठ झालेले होते व शासन निर्णयानुसार त्यांचा निकाल तयार न केल्यामुळे नोव्हेंबर-डिसेंबर २०२१ च्या पुरवणी परीक्षेस श्रेणीनुसार योजने अंतर्गत (CIS) प्रविष्ठ झाले आहे अशा विद्यार्थ्यांची परीक्षा शुल्क अकारण्यात आली नसल्याने या योजनेसाठी पात्र करू नये, याची दक्षता घेवूनच विद्यार्थ्यांची माहिती देण्यात यावी.</b></p>
                    <label>माध्यमिक शाळांना द्यावयाच्या सविस्तर सूचना पुढीलप्रमाणे -</label>
                    <br />
                    <p> १. सदर योजनेचा लाभ घेण्याकरिता तपशिलवार माहिती आवेदनपत्र भरलेल्या शाळांच्या लॉगइनमध्ये मंडळाचे अधिकृत संकेतस्थळावरून
                          <label> mahahsscboard.in'</label><br /> <label>https://feerefund.mh-ssc.ac.in (इयत्ता १० वी) </label>&nbsp; व <br /><label>https://feerefund.mh-hsc.ac.in (इयत्ता १२ वी)</label>
                        <br />ह्या लिंकवर प्रसिध्द करण्यात आली आहे.
                    </p>
                    <p>२. लॉगइन व पासवर्डचा वापर करून उपलब्ध होणार्‍या फॉर्ममध्ये शाळेने अचूक माहिती भरण्यात यावी. </p>
                    <p> विद्यार्थ्यांना पात्र व अपात्र करताना दुबार लाभाबाबत आपल्याकडील अभिलेखांवरून खात्री करूनच माहिती भरण्यात यावी. सर्व विद्यार्थ्यांची पात्र व अपात्र बाबतची माहिती भरल्याशिवाय सदर कार्यप्रणाली पुढील कार्यवाहीसाठी जाणार नाही. </p>
                    <p>तसेच पात्र व अपात्र विद्यार्थांबाबत माहिती आपल्या शाळा / कनिष्ठ महाविद्यालयाचे सूचना फलकावर  विद्यार्थ्यांचे माहितीसाठी लावण्यात यावी .  </p>
                    <p>३. सदर योजनेचा लाभ प्रत्येक पात्र  विद्यार्थ्यांना मिळण्याकरिता मुख्याध्यापक /प्राचार्य  यांनी विविध माध्यमांचा (ई- मेल, एस.एम.एस., पत्र,दूरध्वनी इ.) उपयोग करून विद्यार्थ्यांपर्यंत सदर योजना पोहोचेल याची खातरजमा करण्यात यावी. </p>
                    <p>४. विद्यार्थ्यांना पात्र व अपात्र केलेबाबतचे प्रमाणपत्र आपल्या स्तरावर जतन करून ठेवावे.</p>
                    <p>५. शाळा/कनिष्ठ महाविद्यालयांनी आपले अधिकृत बँक खाते व त्याचा तपशील निर्धारित केलेल्या रकान्यामध्ये अचूक भरावा. सदर खात्यामध्येच शाळेने सादर केलेल्या माहितीनुसार पात्र विद्यार्थाचे परीक्षा शुल्काची परतावा रक्कम जमा करयात येणार आहे. कोणत्याही परिस्थितीत वैयक्तिक/संस्थेचे बँक खात्याची माहिती देण्यात येऊ नये. </p>
                    <p>६. विद्यार्थ्यांना सदरची रक्कम आपल्या बँक खात्यामध्ये जमा झाल्यापासून ३० दिवसांपर्यंत शाळेने फी ची रक्कम ज्या स्वरुपात स्वीकारली आहे, त्या स्वरुपात परत करण्यात यावी. तद्नंतर आपल्याकडे शिल्लक राहीलेल्या परीक्षा शुल्काची रक्कम मंडळाच्या बँक खात्यामध्ये त्वरित वर्ग करण्यात यावी. सदर शिल्लक रक्कम जमा करण्याकरीता स्वतंत्र चलन संकेत स्थळावर उपलब्ध करून देण्यात येईल.</p>
                    @*<p>७. मंडळाचे बँक खात्याचा तपशील खालीलप्रमाणे-</p>
                    <p>बँकेचे नांव :</p>
                    <p>शाखा :</p>
                    <p>खाते क्रमांक :</p>
                    <p>आयएफएससी कोड :</p>*@
                    <p>७. माहिती भरल्यानंतर उपलब्ध केलेल्या व्हयू व्हेरिफाय ऑप्शननुसार माहितीची पडताळणी/छाननी करण्यात यावी व त्यानंतर प्रमाणित माहिती दाखल (सबमिट) करण्यात यावी.</p>
                    <p>८. सादर केलेल्या माहितीनुसार पात्र विद्यार्थ्यांची परीक्षा शुल्काची एकूण रक्कम आपल्या अधिकृत बँक खात्यामध्ये जमा करण्यात येईल.</p>
                    <p>९. सदर रक्कम आपल्यामार्फत संबंधित पात्र विद्यार्थ्यांना ज्या स्वरुपात त्यांनी आपल्याकडे शुल्क जमा केले आहे त्याचप्रमाणे त्यांना परत करण्यात यावी व त्यांची दिनांकित स्वाक्षरी उपलब्ध करून दिलेल्या प्रपत्रावर घेण्यात यावी. सदर प्रपत्राची स्वाक्षरीनंतरची एक प्रत आपल्याकडे जतन करून ठेवण्यात यावी.</p>
                    <p>१०. पात्र विद्यार्थ्यांना परीक्षा शुल्क परत दिल्याबाबतची सर्वस्वी जबाबदारी मुख्याध्यापक/प्राचार्य यांची राहील.</p>
                    <p>११. विद्यार्थ्यांना परत केलेल्या परीक्षा शुल्काची रकमेची माहिती मंडळाच्या संकेतस्थळावर वेळोवेळी अपलोड करण्यात यावी.</p>
                    <p>१२. पात्र विद्यार्थ्यांना परीक्षा शुल्काची रक्कम मंडळाने अदा केलेल्या रकमेतून परत करणेची जबाबदारी ही शाळेची राहील. या संबंधित काहीही गैरप्रकार झाल्यास संबंधित शाळेचे मुख्याध्यापक/प्राचार्य जबाबदार राहतील.</p>


                    @Html.ActionLink("2021  Click Here", "Login", "Home", new { controller = "Home" })<br />

                </div>
            </div>

        </main>
    </div>
</div>

<script type="text/javascript">
        function NoticeCheckBox() {
            window.location.href = "Home/College_Login?Length=4";
        }
</script>

